body {
    font-family: 'Inter', sans-serif;
    background-color: #fcf5d8;
    color: #1b365c;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

h1 {
    margin-left: 40px;
    font-weight: 700;
}

h2 {
    font-weight: 500;
}

.main-body-text {
    padding: 20px;
    background-color: #fcd2b8;
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 25px;
    max-width: 800px;
}

.header {
    background-color: #9ce0ee;
    padding: 10px;
    text-align: center;
}

#logo {
    font-weight: 900;
    text-decoration: none;
}

#logo a:link {
    color: #1b365c;
    text-decoration: none;
}